@layer layout {
    .cluster--md  {
        display: flex;
        flex-direction: column;
        gap: var(--gap-cluster-md);
    }

    .cluster--sm {
        display: flex;
        flex-direction: column;
        gap: var(--gap-cluster-sm);
    }

    .cluster--xs-sm {
        display: flex;
        flex-direction: column;
        gap: var(--gap-cluster-sm);
    }

    .cluster--xs {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--gap-cluster-xs);
    }

    .cluster--lg {
        display: flex;
        flex-direction: column;
        gap: var(--gap-cluster-lg);
    }

    @media(min-width: 48em){
        .cluster--xs-sm {
            flex-direction: row;
        }
    }
}