@layer components {
    .submit-btn {
        background-color: var(--bg-submit-btn);
        inline-size: 100%;
        padding-inline: var(--padding-inline-submit-btn);
        padding-block: var(--padding-block-submit-btn);
        border-radius: var(--spacing-100);

        color: var(--fc-submit-btn);
        line-height: var(--lh-submit-btn);
        font-size: var(--fs-submit-btn);
        font-weight: var(--fw-bold);
    }

    .toast-close-btn {
        inline-size: 100%;
        border: 0.125em solid var(--fc-title-message-sent);
        border-radius: var(--spacing-100);
        padding-block: 0.2rem;
        

        color: var(--fc-title-message-sent);
        font-size: var(--fs-text-message-sent);
        line-height: var(--lh-text-message-sent);
        font-weight: var(--fw-bold);
    }

}