@layer components {
    .title-input {
        font-size: var(--fs-title-input);
        color: var(--fc-title-input);
        line-height: var(--lh-title-input);
    }
    
    .required {
        color: var(--fc-required);
        font-size: var(--fs-required);
        line-height: var(--lh-required);
    }

    .error-message {
        color: var(--fc-error-message);
        font-size: var(--fs-error-message);
        line-height: var(--lh-error-message);
    }

    .input-field {
        border: 0.0625em solid var(--bg-border-input);
        padding-inline: var(--padding-inline-input-field);
        padding-block: var(--padding-block-input-field);
        border-radius: var(--spacing-100);
    }

}