@layer components {
    .title-input {
        font-size: var(--fs-title-input);
        color: var(--fc-title-input);
        line-height: var(--lh-title-input);
    }
    
    .required {
        color: var(--fc-required);
        font-size: var(--fs-required);
        line-height: var(--lh-required);
    }

    .input-field {
        border: 0.0625em solid var(--bg-border-input);
        padding-inline: var(--padding-inline-input-field);
        padding-block: var(--padding-block-input-field);
        border-radius: var(--spacing-100);
        outline: none;

        color: var(--fc-title-input);
        font-size: var(--fs-input-field);
        line-height: var(--lh-input-field);
        font-weight: var(--fw-regular);
    }

    .input-field.is-invalid {
        border-color: var(--bg-border-input-error);
    }

    .error-message {
        color: var(--fc-error-message);
        font-size: var(--fs-error-message);
        line-height: var(--lh-error-message);
        font-weight: var(--fw-regular);
    }

    .size-message {
        min-block-size: var(--sizing-message);
    }

}