@layer components {
    .message-section{
        position: fixed;
        z-index: 3;
        top: var(--top-margin-toast);

        
        background-color: var(--bg-message-sent);
        border-radius: var(--spacing-150);
        max-inline-size: var(--sizing-message-section);
        
    }

    .message-section.is-hidden{
        opacity: 0;
        visibility: hidden;
        transform: translateY(1rem);
        
    }


    .message-section.is-visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);

        transition:
            opacity 400ms ease,
            transform 400ms ease,
            visibility 0s linear 400ms;
    }

    .title-message {
        font-size: var(--fs-title-message-sent);
        line-height: var(--lh-title-message-sent);
        font-weight: var(--fw-bold);
        color: var(--fc-title-message-sent);
    }

    .text-message {
        font-size: var(--fs-text-message-sent);
        line-height: var(--lh-text-message-sent);
        font-weight: var(--fw-regular);
        color: var(--fc-text-message-sent);
    }


    .icon-circle {
        display: inline-block;
        inline-size: var(--sizing-icon-circle);
        block-size: var(--sizing-icon-circle);

        background-image: url("../../assets/images/icon-success-check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    @media (prefers-reduced-motion: reduce) {
        .message-section {
            transition: none;
        }
    }
}