@layer states {
    .submit-btn:hover {
        background-color: color-mix(in srgb, black 50%, var(--bg-submit-btn));
    }

    .submit-btn:focus-visible {
        outline: 0.125em solid var(--bg-submit-btn-hover);
        outline-offset: 0.125em;
    }
}