@layer states {
    .input-field:hover {
        border-color: var(--bg-border-input-hover);
    }

    .input-field:focus {
        border-color: var(--bg-border-input-focus);
    }

    .input-field:focus-visible {
        outline: 0.125em solid var(--bg-border-input-focus);
        outline-offset: 0.125em;
    }
}