@layer tokens.semantics {
    :root {

        --font-family-base: var(--karla-family);

        --fs-title-input: var(--fs-body-sm);
        --fs-error-message: var(--fs-body-sm);
        --fs-required: var(--fs-body-sm);
        --fs-checkbox: var(--fs-body-sm);
        --fs-radio-option: var(--fs-body-md);
        --fs-input-field: var(--fs-body-md);
        --fs-submit-btn: var(--fs-body-md);

        --lh-title-input: var(--lh-body);
        --lh-error-message: var(--lh-body);
        --lh-required: var(--lh-body);
        --lh-radio-option: var(--lh-body);
        --lh-input-field: var(--lh-body);
        --lh-submit-btn: var(--lh-body);
        --lh-checkbox: var(--lh-body);

        --fw-regular: var(--font-weight-regular);
        --fw-bold: var(--font-weight-bold);


    }
}