@layer tokens.primitives{
    :root {
        --sizing-736: calc( 736 / var(--base) * 1rem);
        --sizing-690: calc( 690 / var(--base) * 1rem);
        --sizing-343: calc( 343 / var(--base) * 1rem);
        --sizing-240: calc( 240 / var(--base) * 1rem);
        --sizing-132: calc( 132 / var(--base) * 1rem);
        --sizing-105: calc( 105 / var(--base) * 1rem);
        --sizing-24: var(--spacing-300);
    }
}